body{ 

background-color: pink
}

H1{
	
font-size:60px;
font-family: 'Amatic SC';font-size: 48px;
Margin:auto;
background-color:Grey

}


li a{
	hover:not(.active)
.active
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color:#00FFFF
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p.daddy{
   font-size:35px;
}



  body {
      background-color:#cc5f5f ;
  }
 
h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}